fastapi==0.104.1
uvicorn==0.24.0
pydantic==2.5.0
pydantic-settings==2.1.0
email-validator==2.1.0
pymongo==4.6.0
PyJWT
python-jose==3.3.0
python-dotenv==1.0.0
passlib
argon2-cffi==23.1.0
bcrypt==4.1.2
python-multipart==0.0.6
cryptography==41.0.7
python-dateutil==2.8.2
requests==2.31.0

typing_extensions==4.10.0



urllib3==2.0.7
wadllib==1.3.6
Werkzeug==3.1.3
wheel==0.42.0
xdg==5

langchain
langchain-openai
faiss-cpu
python-dotenv
requests
fastapi
uvicorn